body
{background-image: url('images/background\ kotak\ biru.jpg');}
{background-color: rosybrown;}

a:link
{
    color:maroon;
    text-decoration: none;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
}

a:visited
{
    color:darkslategray;
    background-color: rosybrown;
    text-decoration: none;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
}

a:hover
{
    color:seagreen;
    background-color: tan;
    text-decoration: underline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a:active
{
    color:gainsboro;
    background-color: thistle;
    text-decoration: none;
    padding: 15px;
}

/body